{% extends "templates/base_page.html" %}

{% block content %}

<style>
#add-trip-btn {
color: black;
background-color: white;
position: relative;
left:46%;
}
</style>
 

<div class="container">
 <h2 class="page-title">Available Trips</h2>
   <div class="containe">
    <a class="btn-floating btn-small red darken-2 pull-right">
      <!-- Raised button with ripple -->
		<button id="add-trip-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
  			Add New Trip
		</button>
    </a>
  </div>
  <hr>
    {% with %}
      {% set trip_list = need_driver_trips %}
      {% set title = "Needs a driver" %}
      {% set isEditable = True %}
      {% include "templates/trip_table.html" %}
    {% endwith %}
    {% with %}
      {% set trip_list = need_passenger_trips %}
      {% set title = "Looking for more passengers" %}
      {% set isEditable = True %}
      {% include "templates/trip_table.html" %}
    {% endwith %}
</div>	



{% endblock %}