{% extends "templates/base_page.html" %}
{% block content %}
<style>
.section--center {
width: 512px; 
position: relative;
top:50px;
}

</style>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
	  <div class="mdl-card__title" style="text-align:center;">
	    <h2 class="mdl-card__title-text">Things you may want to know...</h2>
	  </div>
	  
	  <div class="mdl-card__supporting-text">
	   1. All users are Rose students, and potentially faculty<hr><br>
	   2. You can be a passenger or a driver<hr><br>
	   3. Update your account info on top right<hr><br>
	   4. Explore your trips on the left<hr><br>
	   5. Searching available trips before you create one<hr><br>
	   6. Price is never finalized until you contact your driver/passenger<hr><br>
	   7. Your comments/feedbacks are always respected<br>
	   	     contact us via email: fengy2, wangf
	  </div>
	</div>
</section>




{% endblock %}