{% extends "templates/homepage.html" %}

{% block content %}
<style>
	h1{
		text-align: center;
		font-family:'Philosopher', sans-serif;
	}
</style>

<h1>Profile Page</h1>
<div class="profile_content">
  <div class="mdl-layout__tab-panel is-active" id="overview">
   <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
	<div class="mdl-card mdl-cell mdl-cell--12-col">
      <form class="form-horizontal" action="/account-info-action" method="POST">
	   <div class="mdl-card__supporting-text">
	    <div id="nickname-field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	  	<input class="mdl-textfield__input" type="text" name="nickname" value="{{ account_info.nickname }}">
	  	<label class="mdl-textfield__label" for="nickname">Nickname</label>
		</div><br>
		<div id="first-name-field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="username" value="{{ account_info.rose_username }}" disabled>
	  		<label class="mdl-textfield__label" for="username">Username</label>
		</div><br>
		<div id="first-name-field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	 	 <input class="mdl-textfield__input" type="text" name="real_first_name" value="{{ account_info.first_name }}" disabled>
	  	 <label class="mdl-textfield__label" for="real_first_name">First name</label>
		</div><br>
		<div id="last-name-field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	 	 <input class="mdl-textfield__input" type="text" name="real_last_name" value="{{ account_info.last_name }}" disabled>
	  	<label class="mdl-textfield__label" for="real_last_name">Last name</label>
		</div><br>
		<div id="phone-number-field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	  	<input class="mdl-textfield__input" type="text" name="phone_number" value="{{ account_info.phone }}">
	  	<label class="mdl-textfield__label" for="phone_number">Phone number</label>
		</div><br>
		<div id="email-field" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	  	<input class="mdl-textfield__input" type="text" name="email" value="{{ account_info.email }}" disabled>
	  	<label class="mdl-textfield__label" for="email">Email</label>
		</div><br>
		
	
	
		<div class="account-info-form-buttons">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Save</button>
        </div>
        
     </div>
    </form>
   </div>
  </section>
 </div>
</div>

{% endblock %}