{% if trip_list %}
  <h6 style="font-family:'Philosopher', sans-serif">{{ title }}</h6>
  <table style="font-family:'Philosopher', sans-serif" class="trip-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="trip-origin">Origin</th>
        <th class="trip-destination">Destination</th>
        <th class="trip-driver">Driver</th>
        <th class="trip-passengers">Passengers</th>
        <th class="trip-pick-up-time">Pick Up Time</th>
        <th class="trip-price">Suggested Price Per Passenger</th>
        <th class="trip-capacity">Seats Left</th>
        <th class="">
      </tr>
    </thead>
    <tbody style="color:black">
      {% for trip in trip_list %}
        <tr>
          <td class="trip-origin">{{ trip.origin }}</td>
          <td class="trip-destination">{{ trip.destination }}</td> 
          <td class="trip-driver">{% if trip.driver %}{{trip.driver.get().last_name}}{% endif %}</td>
          <td class="trip-passengers">{% if trip.passengers %}
          								{% for passenger in trip.passengers %}
          									{{passenger.get().last_name}} <br>
          								{% endfor %}{% endif %}</td>
          
          <td class="trip-pick-up-time">{{ trip.pick_up_time|date_time_display_format(account_info.time_zone) }}</td>
          <td class="trip-price">$ {{ trip.price }}</td>
          <td class="trip-capacity">{{ trip.capacity_left }}</td>
          <td class="trip-actions">
          	<button type="button" class="contact-info-btn-find-trip mdl-button mdl-js-button mdl-button--icon">
              <div class="hidden trip-price-contact"><b>Price per passenger:</b> $ {{ trip.price }}</div>
              <div class="hidden trip-capacity-contact"><b>Seats left:</b> {{ trip.capacity_left }} <hr></div>
              <div class="hidden trip-driver-contact">{% if trip.driver %}
              									<i class="material-icons mdl-list__item-icon">person</i>
              									<b>Driver: {{ trip.driver.get().first_name}} {{ trip.driver.get().last_name}}</b> <hr>
              									 {% endif %}</div>
              
              <div class="hidden trip-passengers-contact">{% if trip.passengers %}<b>Passengers:</b><br>
          								{% for passenger in trip.passengers %}
          									<i class="material-icons mdl-list__item-icon">person</i> <b>{{passenger.get().first_name}} {{passenger.get().last_name}}</b><br>
          								{% endfor %}{% endif %}</div>
          														
              <div class="hidden trip-entity-key-for-update">{{ trip.key.urlsafe() }}</div>
              <i class="material-icons" style="color:grey">face</i>
            </button>
            <a class="edit-trip-btn mdl-button mdl-js-button mdl-button--icon">
              <div class="hidden trip-entity-key-for-update">{{ trip.key.urlsafe() }}</div>
              <i class="material-icons" style="color:grey">add_box</i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  

  <!-- Update Trip confirmation dialog -->
<dialog id="update-trip-dialog" class="mdl-dialog">
  <h4 class="mdl-dialog__title">Join Trip</h4>
  <form action="/update-trip-action" method="POST">
	<input type="hidden" name="trip_to_update_key">
	<div class="mdl-dialog__content">
		<p class="update-modal-body">
			Are you sure you wish to join this trip?<br>
		</p>
	</div>
	<div class="mdl-dialog__actions">
		<button type="submit" class="update-btn mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Join Trip</button>
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised close-update-trip-dialog">Cancel</button>
	</div>
</form>
</dialog>

  <!-- Trip detail dialog -->
<dialog id="trip-contact-info-dialog-find-trip" class="mdl-dialog"  style="width: 300px;">
  <h4 class="mdl-dialog__title">Trip Info</h4>
	<input type="hidden" name="trip_contact_info_key">
	
	<div class="mdl-dialog__content">
		<ul class="contact-list mdl-list">
		  <li class="small-screen-trip-detail mdl-list__item--two-line">
		    <span class="mdl-list__item-primary-content">
		    	<span id="price_contact" class="mdl-list__item-text-body">
			    </span>
				<br>
			    <span id="capacity_contact" class="mdl-list__item-text-body">
			    </span>
			</span>
		  </li>
	  
		    <span class="mdl-list__item-primary-content">
		    	<span id="driver_contact" class="mdl-list__item-text-body">
			    </span>
			</span>
  
		    <span class="mdl-list__item-primary-content">	    
		    	<span id="passengers_contact" class="mdl-list__item-text-body">
			    </span>
		  </span>
		 
		</ul>
	</div>
	<br>
	<br>
	<div class="mdl-dialog__actions">
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised close-trip-contact-info-dialog-find-trip">Back</button>
	</div>

</dialog>




{% endif %}