{% extends "templates/homepage.html" %}

{% block content %}
<div class="container">
 <h2 class="page-title">Your Trips</h2>
  <hr>
    {% with %}
      {% set trip_list = trip_list %}
      {% set title = "When you are a driver" %}
      {% include "templates/trip_history_table.html" %}
    {% endwith %}
    {% with %}
      {% set trip_list = trip_list %}
      {% set title = "When you are a passenger" %}
      {% include "templates/trip_history_table.html" %}
    {% endwith %}
</div>

{% endblock %}