/* Add CSS rules here. */

body {
  color: white;
}

@media screen and (max-width: 920px) {
	#my_title {
		display: flex;
	}
}

.mdl-data-table {
    table-layout: fixed;
	width: 100%;
}

h2 {
	text-align: center;
	font-family:'Philosopher', sans-serif;
}

.mdl-card__supporting-text {
	font-weight:bold;
	width:100%;
	color:black;
}

.mdl-grid fluid {
	width: 40%;
}

.trip-table td,
.trip-table th {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.mdl-card {
	display: flex;
	flex-direction: column;
	position: relative;
}

.mdl-cell {
	box-sizing: border-box;
}
