/* Add CSS rules here. */

body {
  color: white;
}

@media screen and (min-width: 1020px) {
	#hide {
		display: none;
	}
}

.mdl-data-table {
    table-layout: fixed;
	width: 100%;
	boarder-spacing: 2px;
	border-collapse: collapse;
	white-space: nowrap;
}

h2 {
	text-align: center;
	font-family:'Philosopher', sans-serif;
}

.mdl-card__supporting-text {
	font-weight:bold;
	width:100%;
	color:black;
}

.mdl-grid fluid {
	width: 40%;
}

.trip-table td,
.trip-table th {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.mdl-card {
	display: flex;
	flex-direction: column;
	position: relative;
}

.mdl-cell {
	box-sizing: border-box;
}


.contact-list {
	width: 100%;
}

#trip-contact-info-dialog {
	width: 300px;
}

table {
	display:table;
}

.trip-table .trip-actions {
  width: 50px;
}

.small-screen-trip-detail {
	display:none;
}

.contact-info-btn-find-trip {
		display:none;
	}

@media (max-width : 767px) {
	
	.trip-driver {
		display: none;
	}
	.trip-passengers {
		display: none;
	}
	.trip-price {
		display: none;
	}
	.trip-capacity {
		display: none;
	}
	.mdl-layout__drawer{
		color:black;
	}
	
	.small-screen-trip-detail {
		display:block;
	}
	
	.trip-origin {
		width: 80px;
	}
	
	.trip-destination {
		width: 85px;
	}
	
	.contact-info-btn-find-trip {
		display: inline-block;
	}
	
	.mdl-cell--5-col-tablet .mdl-cell--3-col-phone{
		width: 50px;
	}
}
